*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #272563;
}

::selection {
    background-color: #272563;
    color: #ffffff;
}

.login {
    background: rgba(185, 185, 185, 0.568);
    border-radius: 12px;
    width: 400px;
    padding: 40px;
    color: #333333;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.login h2 {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.login .div-usuario {
    position: relative;
}

.login .div-usuario input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff  ;
    font-size: 16px;
    margin-bottom: 30px;
}

.login .div-usuario label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff ;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.login .div-usuario input:focus~label, 
.login .div-usuario input:valid~label{
    top: -20px;
    left: 0;
    color: #333333 ;
    font-size: 12px;
}

.botao {
    position: relative;
    display: block;
    padding: 12px 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #333333 ;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    transition: .5s;
}

.botao:hover {
    background-color: #1d1d1d  ;
}

.input-botao {
    background-color: #333333;
    border: none;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.input-botao:hover {
    background-color: #1d1d1d ;
    cursor: pointer;
}


@media (max-width: 420px) {
    .login {
        width: 90%;
    }
}
