{% extends 'base.html' %}
{% load static %}

{% block 'head'  %}
    <link rel="stylesheet" href="{% static 'compras\css\compras.css' %}">
{% endblock %}
{% block 'title' %}Ordem De Compra{% endblock %}
{% block 'dashboard' %}
    <br>
    <div class="container m-5">
        <div class="text-center">
            <a class="btn btn-info" href="{% url 'gerar_oc' compra.identificador %}">Gerar PDF</a>
            <br><br>
            <h3>{{compra.descricao}}</h3>

            <hr>
            <ul class="compra-detalhes">
                <li>Descrição: {{ compra.descricao }}</li>
                <li>Quantidade: {{ compra.qtde }} {{ compra.produto.unidade_medida }}</li>
                <li>Valor: R${{ compra.valor }}</li>
                <li>Data da Compra: {{ compra.data_compra|date:"d/m/Y" }}</li>
                <li>Data de Validade: {{ compra.data_validade|date:"d/m/Y" }}</li>
                <li>Produto: {{ compra.produto.nome }}</li>
                <li>Fornecedor: {{ compra.fornecedor.nome }}</li>
                <li>Número do Protocolo: {{ compra.protocolo }}</li>
            </ul>
            <form action="{% url 'delete_compra' compra.identificador %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <input type="submit" value="Deletar" class="btn btn-danger">
            </form>
            <hr>
        </div>
    </div>

{% endblock %}
