{% extends 'base.html' %}
{% load static %}

{% block 'head'  %}
    <link rel="stylesheet" href="{% static 'compras\css\compras.css' %}">
{% endblock %}

{% block 'dashboard' %}
    <br><br>
    <div class="container">
        <div>
            <h2>Histórico de Compras</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Descricao</th>
                        <th>Valor</th>
                        <th>Data Da Compra</th>
                        <th>identificador</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr>
                        <td>{{compra.descricao}}</td>
                        <td>{{compra.valor}} R$</td>
                        <td>{{compra.data_compra}}</td>
                        <td><a href="{% url 'compra' compra.identificador %}">{{compra.identificador}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}