{% extends 'base.html' %}
{% load static %}

{% block 'head'  %}
    <link rel="stylesheet" href="{% static 'compras\css\compras.css' %}">
{% endblock %}
{% block 'title' %}Nova Compra{% endblock %}
{% block 'dashboard' %}
    <br>
    <div class="container">
        <h3>Nova Compra</h3>
        <br>
        <form action="{% url 'nova_compra' %}" method="POST">{% csrf_token %}
            {{form.as_p}}
            <br>
            <input id="botao-salva-edicao" type="submit" class="btn btn-success" value="Salvar">
        </form>
        <br><br>
        
    </div>
{% endblock %}